@import url(https://db.onlinewebfonts.com/c/061b39e95e1a0bd25e8d294af8596b2a?family=Font+Awesome+5+Free+Regular);
@import url(../../fonts/helvetica_regular.otf);

.main-text{
   font-family: var(--font-family);
   font-weight: 700;
   font-size: rem(18);
   line-height: 140%;
   color: var(--main-text);
   &--medium{
      font-family: var(--font-family);
      font-weight: 700;
      font-size: rem(16);
      line-height: 140%;
      color: var(--main-text);
   }
   &--small{
      font-family: var(--font-family);
      font-weight: 700;
      font-size: rem(14);
      line-height: 140%;
      color: var(--main-text);
   }
   &--small-regular{
      font-family: var(--font-family);
      font-weight: 400;
      font-size: rem(14);
      line-height: 140%;
      color: var(--main-text);
   }
   &--mini{
      font-family: var(--font-family);
      font-weight: 700;
      font-size: rem(12);
      line-height: 140%;
      color: var(--main-text);
   }
   &--mini-regular{
      font-family: var(--font-family);
      font-weight: 400;
      font-size: rem(12);
      line-height: 150%;
      color: var(--main-text);
   }
}
.muted-text{
   font-family: var(--font-family);
   font-weight: 400;
   font-size: rem(14);
   line-height: 140%;
   color: var(--muted-text);
   &--n-bold{
      font-family: var(--font-family);
      font-weight: 700;
      font-size: rem(14);
      line-height: 140%;
      color: var(--muted-text);
   }
   &--small{
      font-family: var(--font-family);
      font-weight: 400;
      font-size: rem(12);
      line-height: 140%;
      color: var(--muted-text);
   }
   &--bold{
      font-family: var(--font-family);
      font-weight: 700;
      font-size: rem(12);
      line-height: 150%;
      color: var(--muted-text);
   }
}
.upps-downs{
   font-family: var(--font-family);
   font-weight: 700;
   font-size: rem(14);
   line-height: 140%;
   &--upps{
      color: var(--ups-num);
   }
   &--downs{
      color: var(--downs-num);
   }
}
.upps-downs-char{
   font-family: var(--font-family);
   font-weight: 700;
   font-size: rem(14);
   line-height: 140%;
}
.nums{
   font-family: var(--font-family);
   font-weight: 700;
   font-size: rem(10);
   line-height: 150%;
   color: #fff;
   &--2{
      font-family: var(--font-family);
      font-weight: 700;
      font-size: 10px;
      line-height: 150%;
      color: var(--num-text);
   }
}