.big-cards{
   display: grid;
   grid-template-columns: (930/1617)*100fr (660/1617)*100fr;
   gap: rem(24.23);
   @media (max-width:960px){
      grid-template-columns: 1fr;
      grid-template-rows: 1fr rem(200);
   }
}