.bill-cont{
   display: grid;
   grid-template-columns: (900/1617)*100fr (674/1617)*100fr;
   gap: rem(24.23);
   @media (max-width:960px){
      grid-template-columns: 1fr;
   }
   @media (max-width:767px){
      grid-template-columns: 1fr;
   }
}