.projects {
	@include block-bg;
   display: flex;
   flex-direction: column;
	overflow-x: hidden;
	@media (max-width: 1200px){
		overflow-x: scroll;
	}
   gap: rem(28.5);
	padding: rem(16) rem(16.1) rem(30.05) rem(16.2);
		&__heading {
         display: flex;
         flex-direction: column;
         gap: rem(6)
		}

		&__title {
		}

		&__subtitle {
         @include align-center;
         gap: rem(5);
         & svg{
            display: block;
         }
		}

//!Table//

		&__table {
		}

		&__t-head {
			
		}

      &__t-h {
			@include align-center;
			font-family: var(--font-family);
			font-weight: 700;
			font-size: 10px;
			line-height: 150%;
			color: #a0aec0;
			padding: rem(12) rem(24);
			border-bottom: solid 1px var(--table-lines);
			&:first-child{
				padding: rem(12) rem(24) rem(12) 0;
			}
		}


		&__t-row {
			width: 100%;
			display: grid;
			//grid-template-columns: minmax(rem(250), 1fr) rem(247.89) rem(165.8) rem(205.64);
			grid-template-columns: minmax(rem(250), (387.33/1029.54)*100fr) 
			minmax(rem(160), (247.89/1029.54)*100fr) 
			minmax(rem(107.2), (165.8/1029.54)*100fr) 
			minmax(rem(134), (205.64/1029.54)*100fr);
		}

		&__t-body {
			display: flex;
			flex-direction: column;
		}

		&__t-gridcell {
			padding: rem(16) rem(24);
			border-bottom: solid 1px var(--table-lines);
			@include align-center;
			&--cmpns {
				padding: rem(16) rem(24) rem(16) 0;
			}

			&--membrs {
			}

			&--budget {
			}

			&--cmpltn {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: rem(4.5)
			}
		}


		&__t-cmpns-buffer {
			display: flex;
			align-items: flex-end;
			padding: rem(12.8) 0;
			gap: rem(5);
			& svg{
				display: block;
				height: rem(24);
			}
		}

		&__t-cmpns {
		}


		&__t-membrs-group {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			margin-left: rem(12);
		}

		&__t-membrs-span {
			border: solid 2px var(--bg-light);
			width: rem(32);
			height: rem(32);
			display: flex;
			align-items: center;
			justify-content: center;
			flex-shrink: 0;
			margin-left: rem(-12);
			border-radius: 50%;
		}

		&__t-membrs-img {
			border-radius: 50%;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}


		&__t-budget-value {

		}


      &__t-cmpltn-per {
			font-family: var(--font-family);
			font-weight: 700;
			font-size: rem(14);
			line-height: 140%;
			color: #4fd1c5;
		}

		&__t-cmpltn-bar {
			position: relative;
         border: 3.00px solid var(--bar-color);
         border-radius: rem(6);
         width: 100%;
         height: 0px;
         z-index: 0;
			&--value {
            position: absolute;
            top: -3px;
            left: -3px;
            z-index: 0;
				box-sizing: content-box;
            border: 3.00px solid #4fd1c5;
            border-radius: rem(6);
            height: 0px;
            width: 100%;
            transition: width 0.1s ease-out 0.1s;
            & p{
               display: none;
            }
			}
		}
}

