html {
  /* This reserves space for the scrollbar so the page doesn't jump when hidden */
  scrollbar-gutter: stable;
}
.no-scroll{
   overflow: hidden;
   height: 100vh;      /* Locks the viewport height */
   width: 100%;        /* Prevents horizontal shifting */
    position: fixed;
}
.root{
   position: relative;
   transition: color, background-color 0.2s linear 0s;
   padding: rem(14.5) rem(20.21) rem(23.5) 0;
   z-index: 1000;
   min-height: 100vh; /* Changed from height: 100% */
   height: auto;

   background-color: var(--bg);

   display: grid;
   grid-template-columns: rem(251) 1fr;
   grid-template-rows: auto auto 1fr auto;
   column-gap: rem(31.8); 
   grid-template-areas: 
   "sidebar sentinel"
   "sidebar navbar"
   "sidebar main"
   "sidebar footer";

   overflow-x: hidden;
   
   @media (max-width: 1200px){
      padding: rem(14.5) rem(20.21) rem(23.5) rem(31.8);
      grid-template-columns: auto;
      grid-template-areas: 
      "sentinel"
      "navbar"
      "main"
      "footer";
   }
   @media (max-width: 500px){
      padding: rem(22.5/2) rem(31.8/2) rem(23.5/2) rem(31.8/2);
   }
}
.sidebar{
   grid-area: sidebar;
   position: fixed;
   @media (max-width: 1200px){
      grid-area: sidebar;
      position: fixed;
      top: 0;
      left: -360px;
      z-index: 1000;
      visibility: hidden; 
      pointer-events: none;
      //transition: all 0.5s ease-out 0s;
      &.active{
         top: 16px;
         bottom: 16px;
         left: 16px;
         height: auto !important;      // Forces the sidebar to respect top/bottom boundaries
         max-height: calc(100vh - 32px);
         transition: left 0.5s ease-out 0s;
         visibility: visible;
         pointer-events: auto;
         
      }
   }
}
.sentinel{
   grid-area: sentinel;
   height: 1px;
}

.navbar{
   grid-area: navbar;
   display: flex;
   justify-content: space-between;
   align-items: center;
   &.fixed{
      position: sticky;
      top: rem(14.5);
   }
   @media (max-width: 800px){
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: rem(10);
      &__menu{
         width: 100%;
         display: flex;
         align-items: center;
         justify-content:space-between;
      }
      &__search-box{
          margin-right: auto;
          
      }
      &__sign-name{
         display: none;
      }
   }
}
.stgbar{
   position: fixed;
   top: 0;
   right: -360px;
   z-index: 999;
   visibility: hidden; 
   pointer-events: none;
   //transition: all 0.5s ease-out 0s;
   &.active{
      top: 0;
      right: 0;
      transition: right 0.5s ease-out 0s;
      visibility: visible;
      pointer-events: auto;
   }
}
.main{
   grid-area: main;
}
.footer{
   grid-area: footer;
   @media (max-width: 1200px){
      flex-direction: column;
      justify-content: center;
   }
}