.sign-in{
   position: relative;
   transition: color, background-color 0.2s linear 0s;
   z-index: 1000;
   overflow-x: hidden;
   margin: 0;
   min-height: 100dvh; /* Changed from height: 100% */
   height: 100%;
   min-width: 100vw;
   width: auto;
   background-color: var(--bg);
   padding-bottom: rem(40.5);
   
   display: grid;
   grid-template-areas: "signmain" "footer";
   grid-template-rows: 1fr auto;
   gap: rem(40);
}
.sign-main{
   grid-area: signmain;
}
.sign-in .sidebar{
   opacity: 0;
   @media (max-width: 1200px){
      grid-area: sidebar;
      position: fixed;
      top: 0;
      left: -360px;
      z-index: 1000;
      visibility: hidden; 
      pointer-events: none;
      //transition: all 0.5s ease-out 0s;
      &.active{
         opacity: 1;
         top: 16px;
         bottom: 16px;
         left: 16px;
         height: auto !important;      // Forces the sidebar to respect top/bottom boundaries
         max-height: calc(100vh - 32px);
         transition: left 0.5s ease-out 0s;
         visibility: visible;
         pointer-events: auto;
         
      }
   }
}
.sign-nav{
   border: rem(1.50) solid #fff;
   border-radius: rem(15);
   backdrop-filter: blur(21.000001907348633px);
   box-shadow: var(--navbar-shadows);
   background: var(--light-gradient);
   padding: rem(22) rem(16);
   width: rem(987.5);
   max-width: 90%;

   position: fixed;
   margin-inline: auto;
   top: rem(24);
   left: 50%;
   transform: translateX(-50%);

   z-index: 700;
   @include align-center;
   justify-content: space-between;
   &__logo {
      @include align-center;
      gap: rem(12);
      & svg{
         display: block;
      }
   }

   &__logo-name {
      box-sizing: content-box;
   }

   &__menu {
      @include align-center;
      gap: rem(29);
   }

   &__link {
      @include align-center;
      gap: rem(4);
      font-family: var(--font-family);
      font-weight: 700;
      font-size: rem(10);
      text-align: center;
      color: var(--main-text);
      & p{
         box-sizing: content-box;
      }
      & svg{
         display: block;
      }
      @media (max-width: 960px){
         display: none;
      }
   }
   &__sidebar{
      display: none;
      @media (max-width: 960px){
         @include align-center;
         color: var(--link-dark);
      }
   }

   &__btn {
      border-radius: rem(35);
      background: var(--black-gradient);
      padding: rem(10) rem(32.5);

      font-family: var(--font-family);
      font-weight: 700;
      font-size: rem(10);
      line-height: 150%;
      text-align: center;
      color: #fff;
      @media (max-width: 960px){
         display: none;
      }
   }
}

.sign-in footer{
   margin-inline: auto;
}